  {%- assign collection = collections[section.settings.collection] -%}


  {%- assign product_limit = section.settings.number -%}
<!-- section 3 start here -->
    <div class="section3">
      <div class="container">
        <div class="head_text">
          <h3>{{section.settings.title}}</h3>
          <div class="font_14"><p>{{section.settings.subtitle}}</p></div>
        </div>
        <div class="row">
            {% for product in collection.products limit: product_limit %}
     <div class="col-md-3 col-">
            <div class="sec_box">
              <a href="{{ product.url}}">
                <div class="img_box"><img src="{{ product.featured_image | img_url : "master"}}" alt="product1 img" />
                </div>
                <h6 class="h6-prod-white">{{ product.title}}</h6>
                <p>{{product.price | money}}</p>
              </a>
            </div>
     </div>
  
      
   {% endfor %}
         
         
         
        </div>
        <div class="text-center">
          <div class="button">
            <a href="{{collection.url}}" class="btn btn_white">See All</a>
          </div>
        </div>
      </div>
       <div class="waves waves2">

<svg  height="450px"  fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill="#7BA2A8"> 
  <animate repeatCount="indefinite" attributeName="d" dur="15s" attributeType="XML" values="
            M0 77 
            C 473,283
              822,-40
              1920,116 
            
            V 500 
            H 0 
            V 2 
            Z; 

            M0 77 
            C 473,-40
              1222,283
              3332,136 
            
            V 500 
            H 0 
            V 30 
            Z; 

            M0 12 
            C 973,260
              1722,-53
              1920,120 
            
            V 500 
            H 0 
            V 67 
            Z; 

            M0 77 
            C 473,283
              822,-40
              1920,116 
            
            V 500 
            H 0 
            V 30 
            Z
            ">
        </animate>
        </path>
</svg>
</div>
    </div>
    <!-- section 3 End here -->

{% schema %}
{
  "name": {
    "cs": "Propagovaná kolekce",
    "da": "Udvalgt kollektion",
    "de": "Vorgestellte Kategorie",
    "en": "featured products",
    "es": "Colección destacada",
    "fi": "Esittelyssä oleva kokoelma",
    "fr": "Collection en vedette",
    "it": "Collezione in evidenza",
    "ja": "特集コレクション",
    "ko": "추천 컬렉션",
    "nb": "Utvalgt samling",
    "nl": "Uitgelichte collectie",
    "pl": "Polecana kolekcja",
    "pt-BR": "Coleção em destaque",
    "pt-PT": "Coleção em destaque",
    "sv": "Utvald kollektion",
    "th": "คอลเลกชันแนะนำ",
    "tr": "Öne çıkan koleksiyon",
    "vi": "Bộ sưu tập nổi bật",
    "zh-CN": "特色产品系列",
    "zh-TW": "精選商品系列"
  },
  
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      }
    },
	{
		"type": "textarea",
		"id": "subtitle",
		"label": "Description"
	},
	{
		"type": "number",
		"id" : "number",
		"label": "Number of products to show"
	},
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    }
    
 
  ],
  "presets": [
    {
      "name": {
        "cs": "Propagovaná kolekce",
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Featured products",
        "es": "Colección destacada",
        "fi": "Esittelyssä oleva kokoelma",
        "fr": "Collection en vedette",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "ko": "추천 컬렉션",
        "nb": "Utvalgt samling",
        "nl": "Uitgelichte collectie",
        "pl": "Polecana kolekcja",
        "pt-BR": "Coleção em destaque",
        "pt-PT": "Coleção em destaque",
        "sv": "Utvald kollektion",
        "th": "คอลเลกชันแนะนำ",
        "tr": "Öne çıkan koleksiyon",
        "vi": "Bộ sưu tập nổi bật",
        "zh-CN": "特色产品系列",
        "zh-TW": "精選商品系列"
      },
      "category": {
        "cs": "Kolekce",
        "da": "Kollektion",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samling",
        "nl": "Collectie",
        "pl": "Kolekcja",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "tr": "Koleksiyon",
        "vi": "Bộ sưu tập",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
